<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Feedback</title>
</head>
<body>

    {% extends 'base.html' %}
    
    {% block content %}
    
    <h1>Sorry, wrong page!</h1>

    <iframe title="404 page"  src="https://giphy.com/embed/8L0Pky6C83SzkzU55a" width="480" height="480" frameBorder="0" class="giphy-embed ml-auto mr-auto d-block" allowFullScreen></iframe>
    
    {% endblock %}

</body>
</html>